<ion-header dir="rtl">
  <ion-navbar color="RoyalPurple">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-title>
            <span style="font-size:25px; font-weight:bold;">בהנה"ח</span>
          </ion-title>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title>
            <span>{{client.customer_name}}</span>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content padding dir="rtl">
  <ion-card>
    <ion-card-header>
      <span style="color:#6A5acd; font-size:30px"> סך הכל נכון ל2017</span>
    </ion-card-header>
    <ion-card-content>
      <p><span style="color:#6A5acd;font-size:15px;font-weight: bold;"> חובה: </span><span dir="ltr">{{hova}}</span> ש"ח</p>
      <p><span style="color:#6A5acd;font-size:15px;font-weight: bold;"> זכות: </span><span dir="ltr">{{zikui}}</span> ש"ח</p>
      <p><span style="color:#6A5acd;font-size:15px;font-weight: bold;"> יתרה: </span><span dir="ltr">{{zikui-hova}}</span> ש"ח</p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="debts!=null">
    <ion-card *ngFor="let debt of debts">
      <ion-card-header>
        <span style="color:#6A5acd; font-size:20px"> {{debt.kind}}</span>
      </ion-card-header>
      <ion-card-content>
        <p><span style="color:#6A5acd;font-size:15px;font-weight: bold;"> {{debt.type}}: </span><span dir="ltr">{{debt.total}}</span>          ש"ח</p>
        <p><span style="color:#6A5acd;font-size:15px;font-weight: bold;"> תאריך הנפקה: </span>{{debt.startdate}}</p>
        <p><span style="color:#6A5acd;font-size:15px;font-weight: bold;"> תאריך סיום: </span>{{debt.paydate}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>