page-delivery {
ion-item-sliding{
    border: 1px solid #cecece !important;
    ion-item{
    padding-inline-start: 10px !important;
    }
}
ion-icon {
        font-size: 45px; //Preferred size here
    }

    
}

// Item Sliding
// --------------------------------------------------
// The hidden right-side buttons that can be exposed under a list item with dragging.

